<h2><%= @restaurant.name %> - <%= '⭐️' * @restaurant.rating %></h2>
<h5><%= @restaurant.address %></h5>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti autem quia inventore possimus aperiam accusantium. Molestias praesentium dicta, esse amet repellendus nesciunt ratione veritatis facere doloremque. Ad natus laboriosam illo.
Commodi illum at dolorem sit quas non ut earum eius deleniti impedit officiis, nulla eaque fuga modi, odio natus minus unde assumenda enim doloremque magnam ullam! Maxime aliquid nisi dolorem.
Sed recusandae minus magnam minima quasi est inventore quaerat voluptate exercitationem, aperiam velit rerum facilis? Cum nisi consequuntur, quasi dolore quae ducimus tempora in quas fugiat commodi, voluptatem recusandae excepturi!
Nisi voluptatibus nostrum minima cumque sapiente aperiam veritatis dolorem. Quia quae porro iure iusto facilis aliquam molestias nisi veniam totam nemo excepturi, voluptatibus sapiente corporis praesentium quos, nobis tempore? Vitae!
Autem architecto, sapiente tempora excepturi fugit voluptate beatae id quia sit repudiandae obcaecati corporis provident veniam consectetur, quae cum maiores ratione inventore. Corporis, asperiores aspernatur. Officia dolores tenetur ipsam ratione!
Recusandae ut distinctio repellat aliquam modi. Ipsam dolore, veritatis, hic nulla iste, libero assumenda corrupti dolorum maxime veniam iusto cum maiores perspiciatis ad praesentium saepe molestias reiciendis nostrum culpa nam.
Fugiat perspiciatis praesentium dolores maxime, magni aut incidunt? Iusto minus aliquam cupiditate et voluptates laborum similique laboriosam qui numquam debitis! Ad id magni laborum odit numquam error dolor expedita incidunt.
Tempore, consequatur ullam aspernatur culpa nisi neque rerum corrupti sed, repudiandae modi, asperiores temporibus doloribus iure necessitatibus. Officiis officia recusandae sunt corporis modi commodi repudiandae, ratione qui, blanditiis, debitis quod.
Ipsum id deserunt perspiciatis eligendi, cupiditate iure incidunt asperiores quas eos vero architecto suscipit sit quos. Illum omnis tempore voluptatum ea nisi aspernatur modi, deserunt quasi officiis accusamus debitis. Molestiae?
Odio, possimus accusamus commodi pariatur, atque sit voluptates corporis voluptate modi iusto deserunt quasi? Ipsa porro corporis illum obcaecati id, tenetur delectus sapiente excepturi nisi magnam reiciendis sint. Tempora, ex!
Est qui omnis ducimus, aperiam nostrum ullam voluptates architecto! Aliquam ex esse enim sapiente quaerat nesciunt, sint obcaecati reiciendis numquam adipisci doloribus ratione quibusdam sed cumque! Ab quia deleniti a?
Blanditiis recusandae, at inventore animi facilis exercitationem quasi dolore nihil, optio ut neque ipsam. Nobis beatae amet at quo nulla! Fugiat excepturi eveniet labore quas. Deleniti a alias distinctio? Quam.
Doloremque, soluta dolor nam deleniti qui distinctio animi debitis numquam labore repellat quod molestiae molestias officiis fugit natus illum! Cupiditate perferendis perspiciatis, nisi eum maiores at doloremque obcaecati repellendus aliquam.
Quos deserunt ducimus soluta totam, fuga ipsam aperiam iste quae eligendi. Cupiditate repudiandae eius quibusdam voluptatem sint suscipit unde rem, ipsum consectetur omnis perferendis ullam illo, iure, ad placeat doloribus?
Distinctio repudiandae architecto quod. Cupiditate eius nulla distinctio enim atque, sapiente maiores reprehenderit minus voluptas recusandae, repellat voluptatem est earum eum voluptatibus quod consequuntur dignissimos molestiae fugit ducimus? Vitae, minus.</p>
